@import "@/style/variabiles.scss";

.movie {
  height: 150px;
  position: relative;
  cursor: pointer;

  &:hover .hover-div {
    display: block;
  }
  .hover-div {
    color: $whitesmoke-color;
    background-color: $black-trasparent-color;
    position: absolute;
    height: 100%;
    width: 240px;
    overflow-y: hidden;
    display: none;

    .star {
      margin: 0 1px;
    }

    .flag {
      width: 20px;
      height: 20px;
    }
  }
  img {
    width: 230px;
    height: 100%;
    object-fit: cover;
  }
}
