@import "@/style/variabiles.scss";

.card-box {
  height: 400px;
  width: 240px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  margin: 0 auto;

  &:hover {
    transition: all 0.3s;
    transform: scale(1.2);
    z-index: 999;
  }

  &:hover .hover-div {
    display: block;
    height: 400px;
  }

  &:hover img {
    height: 400px;
  }

  .hover-div {
    color: $whitesmoke-color;
    background-color: $black-trasparent-color;
    position: absolute;
    width: 100%;
    overflow-y: auto;
    display: none;

    .flag {
      width: 17px;
      height: 17px;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e50914 #5e5e5e;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #5e5e5e;
}

*::-webkit-scrollbar-thumb {
  background-color: #e50914;
  border-radius: 20px;
  border: 0px solid #4d4c4c;
}
