@import "@/style/variabiles.scss";

header {
  background-color: $black-color;

  > div {
    h2 {
      color: $red-color;
    }

    > div {
      #search-input {
        padding: 2px 10px;
        background-color: $whitesmoke-color;
        width: 300px;
        border-color: $grey-color;
      }

      #search-btn {
        background-color: #e50914;
        color: $whitesmoke-color;
        border-color: $grey-color;
      }
    }
  }
}
