header {
  background-color: #000;
  > div {
    h2 {
      color: #e50914;
    }

    > div {
      #search-input {
        padding: 2px 10px;
        background-color: whitesmoke;
        width: 300px;
        border-color: #ccc;
      }

      #search-btn {
        background-color: #e50914;
        color: #f5f5f5;
        border-color: #ccc;
      }
    }
  }
}
