@import "@/style/variabiles.scss";

header {
  background-color: $black-color;

  > div {
    img {
      width: 110px;
    }

    > div {
      i {
        color: $whitesmoke-color;
        cursor: pointer;
        font-size: 20px;
        
      }
      #search-input {
        padding: 2px 10px;
        background-color: $black-color;
        color: $whitesmoke-color;
        width: 300px;
        border-color: $grey-color;
      }

      #search-btn {
        background-color: $red-color;
        color: $whitesmoke-color;
        border-color: $black-color;

        &:hover {
          background-color: $whitesmoke-color;
          color: $red-color;
        }
      }
    }
  }
}
