@import "@/style/variabiles.scss";

main {
  background-color: $grey-color;
  min-height: calc(100vh - 71px);
  font-size: 14px;

  .movie {
    height: 300px;
    position: relative;
    cursor: pointer;

    &:hover .hover-div {
      display: block;
    }
    .hover-div {
      color: $whitesmoke-color;
      background-color: $slategray-color;
      position: absolute;
      height: 100%;
      overflow-y: hidden;
      display: none;
    }
    img {
      width: 200px;
      height: 300px;
      object-fit: cover;
    }
  }
}
